In [6]:
import pandas as pd
oo = pd.read_csv('./olympics.csv', skiprows=4)

# Challenge 1

### List out Olypics Dataframe

In [7]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### List only NOC column using both square brackets and dot notation. What type is this object?

In [8]:
oo['NOC']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [9]:
type(oo['NOC'])

pandas.core.series.Series

In [10]:
oo.NOC

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [11]:
type(oo.NOC)

pandas.core.series.Series

### List the Edition, City, Athlete, and Medal Columns. What type is this object?

In [17]:
oo[['Edition','City','Athlete','Medal']]

       Edition     City                      Athlete   Medal
0         1896   Athens                HAJOS, Alfred    Gold
1         1896   Athens             HERSCHMANN, Otto  Silver
2         1896   Athens            DRIVAS, Dimitrios  Bronze
3         1896   Athens           MALOKINIS, Ioannis    Gold
4         1896   Athens           CHASAPIS, Spiridon  Silver
5         1896   Athens        CHOROPHAS, Efstathios  Bronze
6         1896   Athens                HAJOS, Alfred    Gold
7         1896   Athens             ANDREOU, Joannis  Silver
8         1896   Athens        CHOROPHAS, Efstathios  Bronze
9         1896   Athens                NEUMANN, Paul    Gold
10        1896   Athens            PEPANOS, Antonios  Silver
11        1896   Athens                LANE, Francis  Bronze
12        1896   Athens             SZOKOLYI, Alajos  Bronze
13        1896   Athens                BURKE, Thomas    Gold
14        1896   Athens               HOFMANN, Fritz  Silver
15        1896   Athens               CURTIS, Thomas    Gold
16        1896   Athens           GOULDING, Grantley  Silver
17        1896   Athens            LERMUSIAUX, Albin  Bronze
18        1896   Athens                 FLACK, Edwin    Gold
19        1896   Athens                BLAKE, Arthur  Silver
20        1896   Athens              GMELIN, Charles  Bronze
21        1896   Athens                BURKE, Thomas    Gold
22        1896   Athens             JAMISON, Herbert  Silver
23        1896   Athens           GOLEMIS, Dimitrios  Bronze
24        1896   Athens                 FLACK, Edwin    Gold
25        1896   Athens                 DANI, Nandor  Silver
26        1896   Athens             VERSIS, Sotirios  Bronze
27        1896   Athens              GARRETT, Robert    Gold
28        1896   Athens  PARASKEVOPOULOS, Panagiotis  Silver
29        1896   Athens                CLARK, Ellery    Gold
...        ...      ...                          ...     ...
29186     2008  Beijing             MUTALIMOV, Marid  Bronze
29187     2008  Beijing              TAYMAZOV, Artur    Gold
29188     2008  Beijing          AKHMEDOV, Bakhtiyar  Silver
29189     2008  Beijing                AMOYAN, Roman  Bronze
29190     2008  Beijing               PARK, Eun-Chul  Bronze
29191     2008  Beijing               MANKIEV, Nazyr    Gold
29192     2008  Beijing            BAYRAMOV, Rovshan  Silver
29193     2008  Beijing        TENGIZBAYEV, Nurbakyt  Bronze
29194     2008  Beijing           TIUMENBAEV, Ruslan  Bronze
29195     2008  Beijing           ALBIEV, Islam-Beka    Gold
29196     2008  Beijing             RAHIMOV, Vitaliy  Silver
29197     2008  Beijing           SIAMIONAU, Mikhail  Bronze
29198     2008  Beijing             VARDANYAN, Armen  Bronze
29199     2008  Beijing               GUENOT, Steeve    Gold
29200     2008  Beijing           BEGALIEV, Kanatbek  Silver
29201     2008  Beijing           GUENOT, Christophe  Bronze
29202     2008  Beijing              YANAKIEV, Yavor  Bronze
29203     2008  Beijing          KVIRKELIA, Manuchar    Gold
29204     2008  Beijing             CHANG, Yongxiang  Silver
29205     2008  Beijing                AVLUCA, Nazmi  Bronze
29206     2008  Beijing             MINGUZZI, Andrea    Gold
29207     2008  Beijing                FODOR, Zoltan  Silver
29208     2008  Beijing              MAMBETOV, Asset  Bronze
29209     2008  Beijing                WHEELER, Adam  Bronze
29210     2008  Beijing           KHUSHTOV, Aslanbek    Gold
29211     2008  Beijing               ENGLICH, Mirko  Silver
29212     2008  Beijing         MIZGAITIS, Mindaugas  Bronze
29213     2008  Beijing              PATRIKEEV, Yuri  Bronze
29214     2008  Beijing                LOPEZ, Mijain    Gold
29215     2008  Beijing               BAROEV, Khasan  Silver

[29216 rows x 4 columns]

In [18]:
type(oo[['Edition','City','Athlete','Medal']])

pandas.core.frame.DataFrame